 .container{
  height: 400px;
  width: 760px;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
}
button{
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  border: 1px white solid;
  border-radius: 20px;
  color: white;
  background-color: steelblue;
}
.event{
  display: flex;
  flex-direction: column;
  max-width: 760px;
  border-bottom: 1px;
}
a {
  text-decoration-color: steelblue;
  text-decoration-line: none;
}
p {
}